@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  display: flex;
  animation: slide 35s linear infinite;
  will-change: transform;
}

.sponsor-image-container {
  flex: 0 0 auto;
  margin: 0 10px;
}

.sponsor-image-container img {
  display: block;
  max-height: 80px;
  width: auto;
}
